.warning_box{clear:both;background:url(../img/warning.png) no-repeat left #fcfae9;
border:1px #e9e6c7 solid;background-position:15px 10px;padding:20px 20px 15px 60px; margin:0 0 10px 0;}

.valid_box{clear:both;background:url(../img/valid.png) no-repeat left #edfce9;
border:1px #cceac4 solid;background-position:15px 10px;padding:20px 20px 15px 60px; margin:0 0 10px 0;}

.error_box{clear:both;background:url(../img/error.png) no-repeat left #fce9e9;
border:1px #eac7c7 solid;background-position:15px 10px;padding:20px 20px 15px 60px;  margin:0 0 10px 0;}